In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('C:\\Users\\jacxj\\Project_Python\\Untitled Folder\\resurs\\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1317,tt0367594,150000000,474968763,Charlie and the Chocolate Factory,Johnny Depp|Freddie Highmore|AnnaSophia Robb|J...,Tim Burton,Willy Wonka is semi-sweet and nuts.,A young boy wins a tour through the most magni...,115,Adventure|Comedy|Family|Fantasy,Village Roadshow Pictures|The Zanuck Company|W...,7/9/2005,6.5,2005
1540,tt0404390,15000000,9500000,Running Scared,Paul Walker|Cameron Bright|Vera Farmiga|Chazz ...,Wayne Kramer,Every bullet leaves a trail.,"After a drug-op gone bad, Joey Gazelle is put ...",122,Action|Crime|Drama|Thriller,International Production Company|True Grit Pro...,1/6/2006,6.8,2006
1628,tt0361596,6000000,119114517,Fahrenheit 9/11,Michael Moore|George W. Bush|Ben Affleck|Stevi...,Michael Moore,Controversy... what controversy?,Michael Moore's view on what happened to the U...,122,Documentary,BIM Distribuzione|Fellowship Adventure Group,6/25/2004,6.6,2004
360,tt1095174,8000000,29010817,New in Town,RenÃ©e Zellweger|Harry Connick Jr.|J.K. Simmon...,Jonas Elmer,She's an executive on the move. But her career...,Lucy Hill is an ambitious up-and-coming execut...,97,Comedy|Romance,Lionsgate|Edmonds Entertainment Group (EEG)|Ep...,1/30/2009,5.3,2009
1345,tt0386140,75000000,142400065,The Legend of Zorro,Antonio Banderas|Catherine Zeta-Jones|AdriÃ¡n ...,Martin Campbell,"This Fall, adventure begins with a Z.","In 1850, the people of California were voting ...",129,Action|Adventure|Drama|Western,Amblin Entertainment|Columbia Pictures Corpora...,10/24/2005,5.8,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [24]:
data[data["budget"]==data["budget"].max()]["original_title"]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [25]:
data[data["runtime"]==data["runtime"].max()]["original_title"]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [26]:
data[data["runtime"]==data["runtime"].min()]["original_title"]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [17]:
data["runtime"].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [18]:
data["runtime"].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку
data["profit"]=data["revenue"]-data["budget"]
data[data["profit"]==data["profit"].max()]["original_title"]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [29]:
data[data["profit"]==data["profit"].min()]["original_title"]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
data[data["profit"]>0]["original_title"].size

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [35]:
data[data["revenue"]==data[data["release_year"]==2008]["revenue"].max()]["original_title"]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [41]:
data[data.profit==data[(data.release_year>=2012) & (data.release_year<=2014)]["profit"].min()]["original_title"]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [12]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
def genres(x,dct):
    #dct={}
    for i in x.split("|"):
        if i not in dct.keys():
            dct[i]=1
        else:
            dct[i]+=1
    return dct
#def _all

ВАРИАНТ 2

In [197]:
dct={}
for x in data.genres:
    for i in x.split("|"):
        if i not in dct.keys():
            dct[i]=1
        else:
            dct[i]+=1

In [199]:
sorted(dct.items(), key=lambda x: x[1])

[('Foreign', 2),
 ('Documentary', 8),
 ('Western', 19),
 ('War', 58),
 ('History', 62),
 ('Music', 64),
 ('Animation', 139),
 ('Mystery', 168),
 ('Horror', 176),
 ('Fantasy', 222),
 ('Science Fiction', 248),
 ('Family', 260),
 ('Romance', 308),
 ('Crime', 315),
 ('Adventure', 415),
 ('Action', 582),
 ('Thriller', 596),
 ('Comedy', 683),
 ('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [202]:
dct={}
for x in data.query('profit>0').genres:
    for i in x.split("|"):
        if i not in dct.keys():
            dct[i]=1
        else:
            dct[i]+=1

In [203]:
sorted(dct.items(), key=lambda x: x[1])

[('Documentary', 7),
 ('Western', 12),
 ('War', 41),
 ('History', 46),
 ('Music', 47),
 ('Mystery', 119),
 ('Animation', 120),
 ('Horror', 150),
 ('Fantasy', 188),
 ('Science Fiction', 195),
 ('Family', 226),
 ('Crime', 231),
 ('Romance', 242),
 ('Adventure', 337),
 ('Action', 444),
 ('Thriller', 446),
 ('Comedy', 551),
 ('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [25]:
data.groupby(['director']).revenue.sum().sort_values()

director
Simon Hunter            2033165
Keanu Reeves            2054941
Paul Schrader           2062066
Steven Shainberg        2281089
David MichÃ´d           2295423
                        ...
J.J. Abrams          3579169916
Michael Bay          3886938960
David Yates          4154295625
Christopher Nolan    4167548502
Peter Jackson        6490593685
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [194]:
#data[data.genres.str.contains('Action')] 
dct={}
for x,ind in zip(data[data.genres.str.contains('Action')]["director"],data[data.genres.str.contains('Action')].index):
    for i in x.split('|'):
        if i in dct.keys():
            dct[i]+=1
        else:
            dct[i]=1

In [196]:
sorted(dct.items(), key=lambda x: x[1])

[('Colin Trevorrow', 1),
 ('George Miller', 1),
 ('Chris Columbus', 1),
 ('Christopher McQuarrie', 1),
 ('Ilya Naishuller', 1),
 ('Ericson Core', 1),
 ('Denis Villeneuve', 1),
 ('Josh Trank', 1),
 ('Aleksander Bach', 1),
 ('Andy Fickman', 1),
 ('John Erick Dowdle', 1),
 ('Anne Fletcher', 1),
 ('James Gunn', 1),
 ('Joe Russo', 1),
 ('Anthony Russo', 1),
 ('Chad Stahelski', 1),
 ('David Leitch', 1),
 ('Don Hall', 1),
 ('Chris Williams', 1),
 ('Neil Burger', 1),
 ('Gareth Edwards', 1),
 ('Robert Stromberg', 1),
 ('Dean DeBlois', 1),
 ('Patrick Hughes', 1),
 ('Gary Shore', 1),
 ('Noam Murro', 1),
 ('Vic Armstrong', 1),
 ('JosÃ© Padilha', 1),
 ('George Clooney', 1),
 ('Brian A Miller', 1),
 ('Steven Quale', 1),
 ('Adam Wingard', 1),
 ('James Cameron', 1),
 ('Patrick Tatopoulos', 1),
 ('Shane Acker', 1),
 ('Steve Carr', 1),
 ('Christian Alvart', 1),
 ('Hoyt Yeatman', 1),
 ('Kevin Macdonald', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Paul McGuigan', 1),
 ('Troy Duffy', 1),
 ('Paul Weitz', 1),
 ('David Bowers', 1),
 ('Daniel Barber', 1),
 ('Michael J. Bassett', 1),
 ('Pierre Coffin', 1),
 ('Chris Renaud', 1),
 ('Phillip Noyce', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Mike Newell', 1),
 ('Ethan Maniquis', 1),
 ('Albert Hughes', 1),
 ('Allen Hughes', 1),
 ('Tom McGrath', 1),
 ('Adam McKay', 1),
 ('Miguel Sapochnik', 1),
 ('Andy Tennant', 1),
 ('Jonathan Lynn', 1),
 ('Jimmy Hayward', 1),
 ('Robert Luketic', 1),
 ('John Luessenhop', 1),
 ('Kevin Smith', 1),
 ('Jorma Taccone', 1),
 ('Brian Levant', 1),
 ('Stuart Beattie', 1),
 ('Tim Burton', 1),
 ('Brian Helgeland', 1),
 ('John A. Davis', 1),
 ('Chris Nahon', 1),
 ('Hironobu Sakaguchi', 1),
 ('Motonori Sakakibara', 1),
 ('Rod Lurie', 1),
 ('John Herzfeld', 1),
 ('Ivan Reitman', 1),
 ('Demian Lichtenstein', 1),
 ('John Carpenter', 1),
 ('Bobby Farrelly', 1),
 ('Peter Farrelly', 1),
 ('Barry Levinson', 1),
 ('Luke Greenfield', 1),
 ('Les Mayfield', 1),
 ('Henry Selick', 1),
 ('Rob Pritts', 1),
 ('Ernest R. Dickerson', 1),
 ('DJ Pooh', 1),
 ('Eric Brevig', 1),
 ('Ben Stiller', 1),
 ('Jeff Wadlow', 1),
 ('Lexi Alexander', 1),
 ('Peter Segal', 1),
 ('Mathieu Kassovitz', 1),
 ('Rob Minkoff', 1),
 ('Jon Avnet', 1),
 ('Dennis Dugan', 1),
 ('Howard McCain', 1),
 ('Oxide Pang Chun', 1),
 ('Danny Pang', 1),
 ('Craig Mazin', 1),
 ('Simon Hunter', 1),
 ('Nicolas Winding Refn', 1),
 ('Rupert Wyatt', 1),
 ('Patrick Lussier', 1),
 ('Gary McKendry', 1),
 ('Scott Stewart', 1),
 ('Tarsem Singh', 1),
 ('Chris Gorak', 1),
 ('Chris Miller', 1),
 ('Michel Gondry', 1),
 ('Oliver Parker', 1),
 ('Joe Cornish', 1),
 ('Joe Wright', 1),
 ('John Michael McDonagh', 1),
 ('Alister Grierson', 1),
 ('Sean McNamara', 1),
 ('John Whitesell', 1),
 ('Benny Chan', 1),
 ('Corey Yuen Kwai', 1),
 ('Stuart Baird', 1),
 ('Kurt Wimmer', 1),
 ('Jay Roach', 1),
 ('Jim Gillespie', 1),
 ('Chuck Russell', 1),
 ('Betty Thomas', 1),
 ('Randall Wallace', 1),
 ('Ron Shelton', 1),
 ('Simon Wells', 1),
 ('Roger Michell', 1),
 ('Michael Apted', 1),
 ('Tom Dey', 1),
 ('Joel Schumacher', 1),
 ('Luis Mandoki', 1),
 ('Tamra Davis', 1),
 ('Ron Underwood', 1),
 ('Kevin Bray', 1),
 ('Malcolm D. Lee', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Tony Gilroy', 1),
 ('Mark Andrews', 1),
 ('Steve Purcell', 1),
 ('Brenda Chapman', 1),
 ('Boaz Yakin', 1),
 ('Andrew Stanton', 1),
 ('Rian Johnson', 1),
 ('Mike McCoy', 1),
 ('Stephen St. Leger', 1),
 ('James Mather', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('Mabrouk El Mechri', 1),
 ('Dan Bradley', 1),
 ('Julie Anne Robinson', 1),
 ('Anthony Hemingway', 1),
 ('David Koepp', 1),
 ('David Barrett', 1),
 ('Stephen Norrington', 1),
 ('Jan de Bont', 1),
 ('Jon Amiel', 1),
 ('John McTiernan', 1),
 ('Shane Black', 1),
 ('Tommy Wirkola', 1),
 ('Carl Rinsch', 1),
 ('Gary Fleder', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Taylor Hackford', 1),
 ('Steven Knight', 1),
 ('Spike Lee', 1),
 ('Dito Montiel', 1),
 ('Keanu Reeves', 1),
 ('Fyodor Bondarchuk', 1),
 ('Karyn Kusama', 1),
 ('Adam Shankman', 1),
 ('John Stockwell', 1),
 ('Sydney Pollack', 1),
 ('Terry Gilliam', 1),
 ('Jay Chandrasekhar', 1),
 ('Richard Shepard', 1),
 ('John Dahl', 1),
 ('Bruce Hunt', 1),
 ('Alfonso CuarÃ³n', 1),
 ('Stefen Fangmeier', 1),
 ('Mel Gibson', 1),
 ('Bruce Beresford', 1),
 ('Wolfgang Petersen', 1),
 ('Jeff Tremaine', 1),
 ('John Bonito', 1),
 ('Geoffrey Sax', 1),
 ('Tony Bill', 1),
 ('Wayne Kramer', 1),
 ('Sanjay Gadhvi', 1),
 ('Phil Joanou', 1),
 ('Alexander Witt', 1),
 ('Bibo Bergeron', 1),
 ('Vicky Jenson', 1),
 ('Rob Letterman', 1),
 ('Kerry Conran', 1),
 ('Oliver Stone', 1),
 ('Jonathan Hensleigh', 1),
 ('Pitof', 1),
 ('Philip Kaufman', 1),
 ('Trey Parker', 1),
 ('Steven Brill', 1),
 ('Frank Coraci', 1),
 ('Paul Abascal', 1),
 ('Joseph Kahn', 1),
 ('David Mamet', 1),
 ('Jay Russell', 1),
 ('Robert Redford', 1),
 ('Philip G. Atwell', 1),
 ('Michael Davis', 1),
 ('Xavier Gens', 1),
 ('Eli Roth', 1),
 ('Rob Zombie', 1),
 ('Jason Eisener', 1),
 ('Dave Meyers', 1),
 ('Russell Mulcahy', 1),
 ('Andrew Dominik', 1),
 ('Doug Lefler', 1),
 ('David Leland', 1),
 ('Feng Xiaogang', 1),
 ('Ben Garant', 1),
 ('Joel Coen', 1),
 ('Donald Petrie', 1),
 ('Paul Verhoeven', 1),
 ('Roger Spottiswoode', 1),
 ('Antony Hoffman', 1),
 ('Stephen T. Kay', 1),
 ('Don Bluth', 1),
 ('Gary Goldman', 1),
 ('Christian Duguay', 1),
 ('Douglas Aarniokoski', 1),
 ('Gina Prince-Bythewood', 1),
 ('Brian Robbins', 1),
 ('Des McAnuff', 1),
 ('James Wan', 2),
 ('Alan Taylor', 2),
 ('Sam Mendes', 2),
 ('Joss Whedon', 2),
 ('Peyton Reed', 2),
 ('Brad Peyton', 2),
 ('Wes Ball', 2),
 ('Michael Mann', 2),
 ('Paul Feig', 2),
 ('Ron Howard', 2),
 ('Camille Delamarre', 2),
 ('Luc Besson', 2),
 ('Jonathan Liebesman', 2),
 ('Matt Reeves', 2),
 ('Marc Webb', 2),
 ('Evan Goldberg', 2),
 ('Seth Rogen', 2),
 ('Roger Donaldson', 2),
 ('J.C. Chandor', 2),
 ('Kenneth Branagh', 2),
 ('Scott Waugh', 2),
 ('Alex Proyas', 2),
 ('James McTeigue', 2),
 ('NimrÃ³d Antal', 2),
 ('Gavin Hood', 2),
 ('Sylvester Stallone', 2),
 ('Joseph Kosinski', 2),
 ('Edgar Wright', 2),
 ('Robert Schwentke', 2),
 ('James Mangold', 2),
 ('Neil Marshall', 2),
 ('Kevin Munroe', 2),
 ('Peter Howitt', 2),
 ('Frank Oz', 2),
 ('Joe Johnston', 2),
 ('Peter Hyams', 2),
 ('Timur Bekmambetov', 2),
 ('David Gordon Green', 2),
 ('Pete Travis', 2),
 ('Frank Miller', 2),
 ('Jason Friedberg', 2),
 ('Aaron Seltzer', 2),
 ('Rob Marshall', 2),
 ('Andrew Niccol', 2),
 ('Marcus Nispel', 2),
 ('Ruben Fleischer', 2),
 ('George Lucas', 2),
 ('Andrew Davis', 2),
 ('Walter Hill', 2),
 ('Rob Bowman', 2),
 ('Ang Lee', 2),
 ('Baltasar KormÃ¡kur', 2),
 ('Mark Steven Johnson', 2),
 ('F. Gary Gray', 2),
 ('David Dobkin', 2),
 ('Clark Johnson', 2),
 ('Richard Donner', 2),
 ('William Friedkin', 2),
 ('Francis Lawrence', 2),
 ('Courtney Solomon', 2),
 ('David R. Ellis', 2),
 ('David S. Goyer', 2),
 ('Brad Bird', 3),
 ('Matthew Vaughn', 3),
 ('Neill Blomkamp', 3),
 ('Jaume Collet-Serra', 3),
 ('Breck Eisner', 3),
 ('Pierre Morel', 3),
 ('David Ayer', 3),
 ('Doug Liman', 3),
 ('Clint Eastwood', 3),
 ('Phil Lord', 3),
 ('Christopher Miller', 3),
 ('McG', 3),
 ('Stephen Sommers', 3),
 ('Shawn Levy', 3),
 ('Jonathan Mostow', 3),
 ('Jon Favreau', 3),
 ('Jon Turteltaub', 3),
 ('Joe Carnahan', 3),
 ('M. Night Shyamalan', 3),
 ('Harald Zwart', 3),
 ('Marc Forster', 3),
 ('D.J. Caruso', 3),
 ('Edward Zwick', 3),
 ('Sam Raimi', 3),
 ('Barry Sonnenfeld', 3),
 ('Guillermo del Toro', 3),
 ('John Woo', 3),
 ('Uwe Boll', 3),
 ('David Twohy', 3),
 ('J.J. Abrams', 4),
 ('Lana Wachowski', 4),
 ('Lilly Wachowski', 4),
 ('Olivier Megaton', 4),
 ('Guy Ritchie', 4),
 ('Bryan Singer', 4),
 ('Tim Story', 4),
 ('Renny Harlin', 4),
 ('Mark Neveldine', 4),
 ('Brian Taylor', 4),
 ('Dominic Sena', 4),
 ('Justin Lin', 4),
 ('Christopher Nolan', 4),
 ('Simon West', 4),
 ('John Moore', 4),
 ('Steven Spielberg', 4),
 ('Martin Campbell', 4),
 ('John Singleton', 4),
 ('Len Wiseman', 4),
 ('Brett Ratner', 5),
 ('Quentin Tarantino', 5),
 ('Zack Snyder', 5),
 ('Roland Emmerich', 5),
 ('Andrzej Bartkowiak', 5),
 ('Louis Leterrier', 5),
 ('Tony Scott', 5),
 ('Paul Greengrass', 5),
 ('Peter Jackson', 5),
 ('Lee Tamahori', 5),
 ('Gore Verbinski', 5),
 ('Rob Cohen', 5),
 ('Peter Berg', 5),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [80]:
dct={}
for x,ind in zip(data[data.release_year==2012].cast,data[data.release_year==2012].index):
    for i in x.split('|'):
        if i in dct.keys():
            dct[i]+=data.iloc[ind,2]
        else:
            dct[i]=data.iloc[ind,2]

In [83]:
sorted(dct.items(), key=lambda x: x[1])

[('Nicolas Cage', 2106557),
 ('Josh Lucas', 2106557),
 ('Sami Gayle', 2106557),
 ('Danny Huston', 2106557),
 ('Jason Bateman', 3428048),
 ('Hope Davis', 3428048),
 ('Frank Grillo', 3428048),
 ('Paula Patton', 3428048),
 ('Michael Nyqvist', 3428048),
 ('Josh Duhamel', 4636169),
 ('Rosario Dawson', 4636169),
 ("Vincent D'Onofrio", 4636169),
 ('50 Cent', 4636169),
 ('Sarah Gadon', 6063556),
 ('Juliette Binoche', 6063556),
 ('Paul Giamatti', 6063556),
 ('Samantha Morton', 6063556),
 ('Timothy Spall', 8106475),
 ('James Kidnie', 8106475),
 ('Heidi Hawkins', 8106475),
 ('Matt Damon', 8138788),
 ('Rosemarie DeWitt', 8138788),
 ('Lucas Black', 8138788),
 ('Danielle Panabaker', 8493728),
 ('Matt Bush', 8493728),
 ('Katrina Bowden', 8493728),
 ('Jean-Luc Bilodeau', 8493728),
 ('David Koechner', 8493728),
 ('Garrett Hedlund', 8784318),
 ('Sam Riley', 8784318),
 ('Tom Sturridge', 8784318),
 ('Eva Longoria', 9622846),
 ('Andy GarcÃ\xada', 9622846),
 ('Oscar Isaac', 9622846),
 ("Peter O'Toole", 9622846),
 ('RubÃ©n Blades', 9622846),
 ('Ashley Greene', 9627492),
 ('Sebastian Stan', 9627492),
 ('Tom Felton', 9627492),
 ('Julianna Guill', 9627492),
 ('Luke Pasqualino', 9627492),
 ('Victoria Justice', 11417362),
 ('Jackson Nicoll', 11417362),
 ('Chelsea Handler', 11417362),
 ('Josh Pence', 11417362),
 ('Jane Levy', 11417362),
 ('Mark Duplass', 12434778),
 ('Zoe Saldana', 13231461),
 ('Jeremy Irons', 13231461),
 ('Dennis Quaid', 13231461),
 ('Henry Cavill', 16863583),
 ('VerÃ³nica Echegui', 16863583),
 ('Sigourney Weaver', 16863583),
 ('Caroline Goodall', 16863583),
 ('Kirsten Dunst', 16890793),
 ('Sam Rockwell', 19422261),
 ('Christopher Walken', 19422261),
 ('Abbie Cornish', 19422261),
 ('Eddie Murphy', 22044277),
 ('Allison Janney', 22044277),
 ('Cliff Curtis', 22044277),
 ('Clark Duke', 22044277),
 ('Jennifer Aniston', 24159934),
 ('Justin Theroux', 24159934),
 ('Lauren Ambrose', 24159934),
 ('Whitney Houston', 24637469),
 ('Cee Lo Green', 24637469),
 ('Derek Luke', 24637469),
 ('Mike Epps', 24637469),
 ('Carmen Ejogo', 24637469),
 ('Drew Barrymore', 24719215),
 ('Kristen Bell', 24719215),
 ('Vinessa Shaw', 24719215),
 ('Dermot Mulroney', 24719215),
 ('Olivia Wilde', 25666239),
 ('Malin Ã…kerman', 26266491),
 ('Joaquin Phoenix', 28258060),
 ('Philip Seymour Hoffman', 28258060),
 ('Amy Adams', 28258060),
 ('Laura Dern', 28258060),
 ('Jesse Plemons', 28258060),
 ('John Cusack', 29657751),
 ('Luke Evans', 29657751),
 ('Alice Eve', 29657751),
 ('Kevin McNally', 29657751),
 ('Tyler Perry', 30353232),
 ('Rachel Nichols', 30353232),
 ('Jean Reno', 30353232),
 ('Matthew Fox', 30353232),
 ('Giancarlo Esposito', 30353232),
 ('Michael Shannon', 31083599),
 ('Dania Ramirez', 31083599),
 ('Jamie Chung', 31083599),
 ('WolÃ© Parks', 31083599),
 ('Joseph Gilgun', 32204030),
 ('Lennie James', 32204030),
 ('Peter Stormare', 32204030),
 ('Katy Perry', 32726956),
 ('Russell Brand', 32726956),
 ('Shannon Woodward', 32726956),
 ('Rachael Markarian', 32726956),
 ('Mia Moretti', 32726956),
 ('John Krasinski', 32858003),
 ('Gina Carano', 33372606),
 ('Bill Paxton', 33372606),
 ('Logan Lerman', 33400000),
 ('Emma Watson', 33400000),
 ('Ezra Miller', 33400000),
 ('Nina Dobrev', 33400000),
 ('Richard Gere', 35485056),
 ('Tim Roth', 35485056),
 ('Brit Marling', 35485056),
 ('Monica Raymund', 35485056),
 ('Katherine Heigl', 36893721),
 ('Debbie Reynolds', 36893721),
 ('Sherri Shepherd', 36893721),
 ('Patrick Fischler', 36893721),
 ('Brad Pitt', 37930465),
 ('Scoot McNairy', 37930465),
 ('Ben Mendelsohn', 37930465),
 ('James Gandolfini', 37930465),
 ('Ray Liotta', 37930465),
 ('Chris Sarandon', 40346186),
 ('James Hong', 40346186),
 ('Catherine Chan', 40346186),
 ('Robert John Burke', 40346186),
 ('Karl Urban', 41037742),
 ('Olivia Thirlby', 41037742),
 ('Lena Headey', 41037742),
 ('Wood Harris', 41037742),
 ('Jason Cope', 41037742),
 ('Isabel Lucas', 44806783),
 ('Adrianne Palicki', 44806783),
 ('Jamie Bell', 46221189),
 ('Ed Harris', 46221189),
 ('Edward Burns', 46221189),
 ('Blake Lively', 47000000),
 ('Aaron Taylor-Johnson', 47000000),
 ('Benicio del Toro', 47000000),
 ('Paul Dano', 47042000),
 ('Noah Segan', 47042000),
 ('Jake Gyllenhaal', 48126384),
 ('Michael PeÃ±a', 48126384),
 ('Natalie Martinez', 48126384),
 ('David Harbour', 48126384),
 ('Cuba Gooding Jr.', 50365377),
 ('Daniela Ruah', 50365377),
 ('Terrence Howard', 50365377),
 ('Adelaide Clemens', 52302796),
 ('Kit Harington', 52302796),
 ('Sean Bean', 52302796),
 ('Carrie-Anne Moss', 52302796),
 ('Radha Mitchell', 52302796),
 ('Shia LaBeouf', 53676580),
 ('Mia Wasikowska', 53676580),
 ('Alison Brie', 53909751),
 ('Sean Hayes', 54819301),
 ('Will Sasso', 54819301),
 ('Chris Diamantopoulos', 54819301),
 ('SofÃ\xada Vergara', 54819301),
 ('Eva Amurri Martino', 58058367),
 ('Leighton Meester', 58058367),
 ('Andy Samberg', 58058367),
 ('Diego Boneta', 59418613),
 ('Julianne Hough', 59418613),
 ('Maggie Smith', 59520298),
 ('Tom Courtenay', 59520298),
 ('Pauline Collins', 59520298),
 ('Michael Gambon', 59520298),
 ('Ben Foster', 63100000),
 ('J.K. Simmons', 63100000),
 ('Kristen Connolly', 66486080),
 ('Anna Hutchison', 66486080),
 ('Fran Kranz', 66486080),
 ('Jesse Williams', 66486080),
 ('Jared Gilman', 68263166),
 ('Kara Hayward', 68263166),
 ('Bill Murray', 68263166),
 ('Devon Bostick', 77112176),
 ('Steve Zahn', 77112176),
 ('Peyton List', 77112176),
 ('Rachael Harris', 77112176),
 ('Zachary Gordon', 77112176),
 ('Joseph Gordon-Levitt', 78125599),
 ('Cameron Diaz', 79700000),
 ('Jennifer Lopez', 79700000),
 ('Roselyn SÃ¡nchez', 81272766),
 ('Emilio Rivera', 81272766),
 ('Nestor Serrano', 81272766),
 ('Gonzalo Menendez', 81272766),
 ('Alexander Asefa', 81272766),
 ('Charlie Tahan', 81491068),
 ('Winona Ryder', 81491068),
 ("Catherine O'Hara", 81491068),
 ('Martin Short', 81491068),
 ('Martin Landau', 81491068),
 ('Natasha Calis', 85446075),
 ('Madison Davenport', 85446075),
 ('Kyra Sedgwick', 85446075),
 ('Rob LaBelle', 85446075),
 ('Leslie Mann', 88058786),
 ('Maude Apatow', 88058786),
 ('Susan Sarandon', 93543423),
 ('Jerry Ferrara', 96070507),
 ('Meagan Good', 96070507),
 ('Regina Hall', 96070507),
 ('Kevin Hart', 96070507),
 ('Oliver Cooper', 100000000),
 ('Jonathan Daniel Brown', 100000000),
 ('Thomas Mann', 100000000),
 ('Dax Flame', 100000000),
 ('Kirby Bliss Blanton', 100000000),
 ('Emily Blunt', 100951751),
 ('Kodi Smit-McPhee', 107139399),
 ('Tucker Albrizzi', 107139399),
 ('Jodelle Ferland', 107139399),
 ('Casey Affleck', 107139399),
 ('Benjamin Walker', 112265139),
 ('Dominic Cooper', 112265139),
 ('Anthony Mackie', 112265139),
 ('Mary Elizabeth Winstead', 112265139),
 ('Rufus Sewell', 112265139),
 ('Meryl Streep', 114281051),
 ('Steve Carell', 114281051),
 ('Jean Smart', 114281051),
 ('Marin Ireland', 114281051),
 ('Skylar Astin', 115350426),
 ('Brittany Snow', 115350426),
 ('Anna Camp', 115350426),
 ('Rebel Wilson', 115350426),
 ('Hugh Grant', 118338361),
 ('Jeremy Piven', 118338361),
 ('Brian Blessed', 118338361),
 ('Billy Crystal', 119772232),
 ('Bette Midler', 119772232),
 ('Marisa Tomei', 119772232),
 ('Tom Everett Scott', 119772232),
 ('Bailee Madison', 119772232),
 ('Daniel Radcliffe', 127730736),
 ('Sidney Johnston', 127730736),
 ('Alisa Khazanova', 127730736),
 ('Mary Stockley', 127730736),
 ('Jeffrey Dean Morgan', 130252858),
 ('Tom Hanks', 130482868),
 ('Halle Berry', 130482868),
 ('Jim Broadbent', 130482868),
 ('Hugo Weaving', 130482868),
 ('Stephen Rea', 132400000),
 ('Theo James', 132400000),
 ('India Eisley', 132400000),
 ('Jason Clarke', 132820716),
 ('Joel Edgerton', 132820716),
 ('Jim Sturgess', 138589343),
 ('Kathryn McCormick', 140470746),
 ('Ryan Guzman', 140470746),
 ('Stephen Boss', 140470746),
 ('Megan Boone', 140470746),
 ('Jessica Guadix', 140470746),
 ('Jason Segel', 141968537),
 ('Katie Featherston', 142817992),
 ('Kathryn Newton', 142817992),
 ('Matt Shively', 142817992),
 ('Brady Allen', 142817992),
 ('Sprague Grayden', 142817992),
 ('Dane DeHaan', 145000000),
 ('Alex Russell', 145000000),
 ('Michael B. Jordan', 145000000),
 ('Michael Kelly', 145000000),
 ('Anna Wood', 145000000),
 ('Paul Rudd', 145618720),
 ('Salma Hayek', 165338361),
 ('Matthew McConaughey', 167221571),
 ('Olivia Munn', 167221571),
 ('Cody Horn', 167221571),
 ('Alex Pettyfer', 167221571),
 ('Sayed Badreya', 179379533),
 ('Aasif Mandvi', 179379533),
 ('Anna Faris', 179379533),
 ('Naomi Watts', 180274123),
 ('Tom Holland', 180274123),
 ('Samuel Joslin', 180274123),
 ('Oaklee Pendergast', 180274123),
 ('Julia Roberts', 183018522),
 ('Lily Collins', 183018522),
 ('Armie Hammer', 183018522),
 ('Nathan Lane', 183018522),
 ('Martin Klebba', 183018522),
 ('Jessica Chastain', 186497296),
 ('Chris Pratt', 186730467),
 ('Rachel McAdams', 196114570),
 ('Sam Neill', 196114570),
 ('Scott Speedman', 196114570),
 ('Jessica Lange', 196114570),
 ('Jessica Biel', 198802074),
 ('Bill Nighy', 198802074),
 ('Jonah Hill', 201585328),
 ('Brie Larson', 201585328),
 ('Dave Franco', 201585328),
 ('Ellie Kemper', 201585328),
 ('Robert De Niro', 205738714),
 ('Jacki Weaver', 205738714),
 ('Chris Tucker', 205738714),
 ('Denzel Washington', 208076205),
 ('Ryan Reynolds', 208076205),
 ('Vera Farmiga', 208076205),
 ('Joel Kinnaman', 208076205),
 ('Ewan McGregor', 213646729),
 ('Colin Farrell', 218224335),
 ('Richard Jenkins', 218340595),
 ('Werner Herzog', 218340595),
 ('Bradley Cooper', 218970175),
 ('Michael Ealy', 228470507),
 ('Ben Affleck', 232324128),
 ('Alan Arkin', 232324128),
 ('John Goodman', 232324128),
 ('Victor Garber', 232324128),
 ('Jason Biggs', 234989584),
 ('Alyson Hannigan', 234989584),
 ('Chris Klein', 234989584),
 ('Thomas Ian Nicholas', 234989584),
 ('Milla Jovovich', 240159255),
 ('Sienna Guillory', 240159255),
 ('Michelle Rodriguez', 240159255),
 ('Aryana Engineer', 240159255),
 ('Li Bingbing', 240159255),
 ('Johnny Depp', 245527149),
 ('Helena Bonham Carter', 245527149),
 ('Jackie Earle Haley', 245527149),
 ('Jonny Lee Miller', 245527149),
 ('Michelle Pfeiffer', 257961927),
 ('Megan Fox', 267438319),
 ('David Oyelowo', 268705972),
 ('Jeremy Renner', 276572938),
 ('Rachel Weisz', 276572938),
 ('Scott Glenn', 276572938),
 ('Stacy Keach', 276572938),
 ('Tom Cruise', 277759208),
 ('Lynn Collins', 284139100),
 ('Willem Dafoe', 284139100),
 ('Edgar RamÃ\xadrez', 301000000),
 ('Alexander SkarsgÃ¥rd', 303025485),
 ('Rihanna', 303025485),
 ('Tadanobu Asano', 303025485),
 ('Jude Law', 306941670),
 ('Isla Fisher', 306941670),
 ('Sylvester Stallone', 312573423),
 ('Dolph Lundgren', 312573423),
 ('Arnold Schwarzenegger', 312573423),
 ('Chris Pine', 319376448),
 ('Edward Norton', 344836104),
 ('Sam Worthington', 347221189),
 ('Zac Efron', 348840316),
 ('Danny DeVito', 348840316),
 ('Taylor Swift', 348840316),
 ('Ed Helms', 348840316),
 ('Rob Riggle', 348840316),
 ('Anna Kendrick', 350316209),
 ('Jason Statham', 352919609),
 ('Dwayne Johnson', 355692760),
 ('Kristin Davis', 355692760),
 ('Vanessa Hudgens', 355692760),
 ('Luis GuzmÃ¡n', 355692760),
 ('Brendan Gleeson', 356072317),
 ('Steve Buscemi', 358375603),
 ('David Spade', 358375603),
 ('Kevin James', 358375603),
 ('Selena Gomez', 358375603),
 ('Alec Baldwin', 366360283),
 ('Famke Janssen', 376141306),
 ('Rade Serbedzija', 376141306),
 ('Luke Grimes', 376141306),
 ('Brooklyn Decker', 382725485),
 ('Kate Beckinsale', 394302074),
 ('Sam Claflin', 396600000),
 ('Ian McShane', 396600000),
 ('Noomi Rapace', 403170142),
 ('Idris Elba', 403170142),
 ('Maggie Grace', 408345336),
 ('CiarÃ¡n Hinds', 411869836),
 ('Adam Sandler', 416433970),
 ('Mark Strong', 416959816),
 ('Jamie Foxx', 425368238),
 ('Christoph Waltz', 425368238),
 ('Leonardo DiCaprio', 425368238),
 ('Samuel L. Jackson', 425368238),
 ('Michael Fassbender', 436542748),
 ('Russell Crowe', 441809770),
 ('Amanda Seyfried', 441809770),
 ('Kerry Washington', 447412515),
 ('Bruce Willis', 449378341),
 ('John C. Reilly', 471222889),
 ('Sarah Silverman', 471222889),
 ('Jack McBrayer', 471222889),
 ('Jamie Elman', 471222889),
 ('Guy Pearce', 489050752),
 ('Rosamund Pike', 519340595),
 ('Jane Lynch', 526042190),
 ('Kelly Macdonald', 538983207),
 ('Julie Walters', 538983207),
 ('Kevin McKidd', 538983207),
 ('Bryan Cranston', 540910192),
 ('Mila Kunis', 549368315),
 ('Seth MacFarlane', 549368315),
 ('Joel McHale', 549368315),
 ('Channing Tatum', 598294075),
 ('Billy Connolly', 598503505),
 ('Suraj Sharma', 609016565),
 ('Irrfan Khan', 609016565),
 ('Ayush Tandon', 609016565),
 ('Gautam Belur', 609016565),
 ('Adil Hussain', 609016565),
 ('Mark Wahlberg', 612468315),
 ('Giovanni Ribisi', 612468315),
 ('Will Smith', 624026776),
 ('Josh Brolin', 624026776),
 ('Michael Stuhlbarg', 624026776),
 ('Taylor Kitsch', 634164585),
 ('Liam Neeson', 677141306),
 ('Liam Hemsworth', 691210692),
 ('Woody Harrelson', 710632953),
 ('Tommy Lee Jones', 738307827),
 ('Ben Stiller', 746921274),
 ('David Schwimmer', 746921274),
 ('Chris Rock', 746921274),
 ('Hugh Jackman', 748751440),
 ('Andrew Garfield', 752215857),
 ('Emma Stone', 752215857),
 ('Martin Sheen', 752215857),
 ('Frances McDormand', 755060062),
 ('Charlize Theron', 799770142),
 ('Rhys Ifans', 806125608),
 ('Taylor Lautner', 829000000),
 ('Peter Facinelli', 829000000),
 ('Elizabeth Reaser', 829000000),
 ('Elizabeth Banks', 829566659),
 ('Robert Pattinson', 835063556),
 ('Ray Romano', 877244782),
 ('Chris Wedge', 877244782),
 ('Jennifer Lawrence', 896949406),
 ('John Leguizamo', 914138503),
 ('Ian McKellen', 1017003568),
 ('Martin Freeman', 1017003568),
 ('Richard Armitage', 1017003568),
 ('Andy Serkis', 1017003568),
 ('Cate Blanchett', 1017003568),
 ('Christian Bale', 1081041287),
 ('Michael Caine', 1081041287),
 ('Gary Oldman', 1081041287),
 ('Josh Hutcherson', 1091710235),
 ('Daniel Craig', 1108561013),
 ('Judi Dench', 1108561013),
 ('Javier Bardem', 1108561013),
 ('Naomie Harris', 1108561013),
 ('Seann William Scott', 1112234366),
 ('Tom Hardy', 1134717867),
 ('Emma Thompson', 1163009983),
 ('Kristen Stewart', 1234384318),
 ('Sacha Baron Cohen', 1368110577),
 ('Ralph Fiennes', 1409561013),
 ('Robert Downey Jr.', 1519557910),
 ('Chris Evans', 1519557910),
 ('Mark Ruffalo', 1519557910),
 ('Scarlett Johansson', 1519557910),
 ('Anne Hathaway', 1522851057),
 ('Denis Leary', 1629460639),
 ('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
dct={}
for x,ind in zip(data[data.budget>data.budget.mean()]["cast"],data[data.budget>data.budget.mean()].index):
    for i in x.split('|'):
        if i in dct.keys():
            dct[i]+=1
        else:
            dct[i]=1

In [93]:
sorted(dct.items(), key=lambda x: x[1])[-1]

('Matt Damon', 18)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [94]:
dct={}
for x,ind in zip(data[data.cast.str.contains('Nicolas Cage')]["genres"],data[data.cast.str.contains('Nicolas Cage')].index):
    for i in x.split('|'):
        if i in dct.keys():
            dct[i]+=1
        else:
            dct[i]=1

In [95]:
dct

{'Thriller': 15,
 'Action': 17,
 'Science Fiction': 4,
 'Adventure': 7,
 'Drama': 12,
 'Mystery': 3,
 'Crime': 10,
 'Animation': 3,
 'Family': 3,
 'Fantasy': 8,
 'Comedy': 6,
 'History': 2,
 'War': 1,
 'Horror': 1,
 'Romance': 1}

# 18. Самый убыточный фильм от Paramount Pictures

In [99]:
data[data.profit==data[data.production_companies.str.contains("Paramount Pictures")]["profit"].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,Action
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,0

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [102]:
data.groupby("release_year").revenue.sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [104]:
data[data.production_companies.str.contains("Warner Bros")].groupby("release_year").profit.sum().sort_values()

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [131]:
from datetime import datetime
def mon (x):
    return datetime.strptime(x, "%m/%d/%Y").month

In [133]:
data["month"]=data.release_date.apply(mon)

In [138]:
data.groupby(["month"]).imdb_id.count().sort_values()

month
1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    190
9     227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [139]:
data.query("month in (6,7,8)")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,Action,month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,1,6
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015,285603537,1,6
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015,1082730962,0,6
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,0,6
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,5.8,2015,155637091,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,tt0160009,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,8/23/2000,5.7,2000,-9800895,1,8
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000,0,7
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717,1,7
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180,1,6
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502,0,7

# 23. Для какого режиссера зима – самое продуктивное время года?

In [141]:
data.query("month in (1,2,12)").director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
                    ..
Rob Letterman        1
JosÃ© Padilha        1
Matt Reeves          1
Callan Brunker       1
Anthony Hemingway    1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [161]:
data["len"]=data.original_title.str.len()

In [184]:
dct={}
for x,ind in zip(data.production_companies,data.index):
    for i in x.split('|'):
        #print(i)
        if i in dct.keys():
                dct[i].append(int(data.iloc[ind,17]))
            #if i=="Walt Disney Pictures":
            #    print(ind,data.iloc[ind,17])
              #  print(type(dct[i]),dct[i])
        else:   
            dct[i]=[data.iloc[ind,17]]#data.iloc[ind,17]
            #if i=="Walt Disney Pictures":
                #print(ind)
               # print(type(dct[i]))

In [189]:
import numpy as np
name=''
value=0
for i,j in dct.items():
    if np.mean(j)>value:
        value=np.mean(j)
        name=i
print(name)

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [205]:
#data["len"]=data.original_title.str.len()
data["len_overview"]=data.overview.str.len()

In [206]:
dct={}
for x,ind in zip(data.production_companies,data.index):
    for i in x.split('|'):
        #print(i)
        if i in dct.keys():
                dct[i].append(int(data.iloc[ind,18]))
            #if i=="Walt Disney Pictures":
            #    print(ind,data.iloc[ind,17])
              #  print(type(dct[i]),dct[i])
        else:   
            dct[i]=[data.iloc[ind,18]]#data.iloc[ind,17]
            #if i=="Walt Disney Pictures":
                #print(ind)
               # print(type(dct[i]))

In [207]:
import numpy as np
name=''
value=0
for i,j in dct.items():
    if np.mean(j)>value:
        value=np.mean(j)
        name=i
print(name)

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [7]:
data.sort_values(by="vote_average")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
709,tt1213644,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,3.3,2008
965,tt0295254,40000000,18902015,FearDotCom,Stephen Dorff|Natascha McElhone|Stephen Rea|Ud...,William Malone,The last site you'll ever see.,"With four corpses on his hands, New York City ...",101,Horror|Thriller,Milagro Films|Franchise Pictures|DoRo Fiction ...,8/9/2002,3.3,2002
1161,tt0317676,7000000,13818181,House of the Dead,Jonathan Cherry|Tyron Leitso|Clint Howard|Ona ...,Uwe Boll,You won't last the night.,"Set on an island off the coast, a techno rave ...",90,Horror|Action|Thriller,Boll Kino Beteiligungs GmbH & Co. KG|Brightlig...,4/11/2003,3.4,2003
1760,tt0799949,20000000,86865564,Epic Movie,Kal Penn|Adam Campbell|Jennifer Coolidge|Jayma...,Jason Friedberg|Aaron Seltzer,We know it's big. We measured.,"When Edward, Peter, Lucy and Susan each follow...",86,Action|Adventure|Comedy,Twentieth Century Fox Film Corporation|Regency...,1/25/2007,3.4,2007
1175,tt0339034,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,3.5,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [4]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)