In [2]:
import pandas as pd
from datetime import datetime

In [105]:
df=pd.read_csv("C:\\Users\\jacxj\\Project_Python\\Projects_rec\\resurs\EAT\\main_task.csv")

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

# Приводим стили кухни к нормальному виду

In [107]:
def x_rep (x):
    x=x.replace("'","")
    x=x.replace("[","")
    x=x.replace("]","")
    return x.split(", ")

In [108]:
df["Cuisine Style"]=df["Cuisine Style"].dropna().apply(x_rep)

In [109]:
style=[]
for i in df["Cuisine Style"].dropna():
    style+=i
style=set(style)

In [110]:
for i in style:
    df[i]=0

In [111]:
for index, row in df.dropna().iterrows():
    for i in row["Cuisine Style"]:
        df.loc[index,i]=1

# Считаем разницу дат отзывов

In [112]:
def date_r(x):
    x=x.split("], [")[1]
    x=x.replace("'","")
    x=x.replace("[","")
    x=x.replace("]","")
    x=x.split(", ")
    try:
        return (abs(datetime.strptime(x[0],"%m/%d/%Y").date()-datetime.strptime(x[1],"%m/%d/%Y").date()))
    except:
        return None

In [113]:
df["date_r"]=df[~df.Reviews.str.contains("[[]]")].Reviews.apply(date_r)

In [114]:
df.corr()

,Ranking,Rating,Number of Reviews,Armenian,Venezuelan,Belgian,Vietnamese,Soups,Central Asian,Gluten Free Options,...,Salvadoran,Fujian,Bar,Lebanese,Irish,Danish,Portuguese,Xinjiang,Jamaican,Azerbaijani
Ranking,1.000000,-0.368371,-0.222670,-0.001293,-0.009853,-0.049575,-0.018268,-0.054190,0.000875,-0.214998,...,-0.002304,-0.003196,-0.044041,0.004631,-0.059298,-0.050683,-0.087059,0.003640,0.010772,-0.004919
Rating,-0.368371,1.000000,0.030964,0.008884,0.008929,-0.014139,0.023729,0.020828,0.006660,0.099226,...,0.000052,0.005363,-0.020092,0.017643,0.014658,0.011486,0.017490,0.000052,0.006235,0.002718
Number of Reviews,-0.222670,0.030964,1.000000,-0.004570,-0.002226,0.025810,-0.012536,0.112778,-0.002553,0.402942,...,0.002712,-0.001961,0.082681,-0.002678,0.041201,0.005241,0.035513,-0.001465,-0.000131,-0.001923
Armenian,-0.001293,0.008884,-0.004570,1.000000,-0.000456,-0.001170,-0.001566,-0.001613,-0.000260,-0.005073,...,-0.000075,-0.000106,-0.004356,-0.001282,-0.001227,-0.000936,-0.002357,-0.000075,-0.000327,-0.000106
Venezuelan,-0.009853,0.008929,-0.002226,-0.000456,1.000000,-0.002374,-0.003176,-0.003271,-0.000527,0.003260,...,-0.000152,-0.000215,0.003450,-0.002600,-0.002490,-0.001898,0.000581,-0.000152,-0.000663,-0.000215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Danish,-0.050683,0.011486,0.005241,-0.000936,-0.001898,-0.004866,-0.006509,-0.002919,-0.001080,0.027969,...,-0.000312,-0.000441,0.002928,-0.005330,-0.005103,1.000000,-0.009801,-0.000312,-0.001360,-0.000441
Portuguese,-0.087059,0.017490,0.035513,-0.002357,0.000581,-0.012260,-0.016401,0.033725,-0.002722,-0.011781,...,-0.000786,-0.001111,-0.015798,-0.013429,-0.012858,-0.009801,1.000000,-0.000786,-0.003426,-0.001111
Xinjiang,0.003640,0.000052,-0.001465,-0.000075,-0.000152,-0.000390,-0.000522,-0.000538,-0.000087,-0.001691,...,-0.000025,-0.000035,-0.001452,-0.000427,-0.000409,-0.000312,-0.000786,1.000000,-0.000109,-0.000035
Jamaican,0.010772,0.006235,-0.000131,-0.000327,-0.000663,-0.001701,-0.002275,-0.002344,-0.000378,0.015313,...,-0.000109,-0.000154,-0.002045,-0.001863,-0.001784,-0.001360,-0.003426,-0.000109,1.000000,-0.000154
Azerbaijani,-0.004919,0.002718,-0.001923,-0.000106,-0.000215,-0.000552,-0.000738,-0.000760,-0.000122,-0.002391,...,-0.000035,-0.000050,0.024354,-0.000604,-0.000579,-0.000441,-0.001111,-0.000035,-0.000154,1.000000

In [115]:
df["date_r"]=df["date_r"].dt.days

In [116]:
df["Count_Rev"]=df["date_r"].dropna().apply(lambda x: 2)

In [117]:
df["Count_Rev"]=df["Count_Rev"].fillna(0)

In [118]:
df["date_r"]=df["date_r"].fillna(df["date_r"].mean())

In [119]:
df["Price Range"].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

# Price Range

In [120]:
def price_to_float(x):
    try:
        if x=="$":
            return 5
        elif x=="$$ - $$$":
            return 550
        elif x=="$$$$":
            return 5000
    except:
        return x

In [121]:
df["Price Range"]=df["Price Range"].apply(price_to_float)

In [122]:
df["Price Range"]=df["Price Range"].fillna(500)

In [123]:
data_city = pd.get_dummies(df.City)

In [124]:
T=df.copy()

In [125]:
T.Ranking=T.Ranking.fillna(T.Ranking.mean())

In [126]:
T["Number of Reviews"]=T["Number of Reviews"].fillna(T["Number of Reviews"].median())

In [127]:
T=pd.concat([T,data_city],axis=1)

In [128]:
def first_model(df):
    #df["Price Range"]=df["Price Range"].dropna()#.fillna("$$ - $$$")
    X = df.drop(['Restaurant_id', 'Rating',"City","Cuisine Style","URL_TA", "ID_TA","Reviews"], axis = 1)
    y = df['Rating']
    #print(X)
    from sklearn.model_selection import train_test_split
    import numpy as np
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
    # Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
   
    from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
    from sklearn import metrics # инструменты для оце
    # Создаём модель
    regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
    regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
    y_pred = regr.predict(X_test)
    y_pred =np.round(y_pred * 2) / 2
    print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
    return(y_pred)

In [129]:
t=first_model(T)

MAE: 0.1849

In [130]:
for i in T.columns:
    print(i,type(T[i][0]))

Restaurant_id <class 'str'>
City <class 'str'>
Cuisine Style <class 'list'>
Ranking <class 'numpy.float64'>
Rating <class 'numpy.float64'>
Price Range <class 'numpy.float64'>
Number of Reviews <class 'numpy.float64'>
Reviews <class 'str'>
URL_TA <class 'str'>
ID_TA <class 'str'>
Armenian <class 'numpy.int64'>
Venezuelan <class 'numpy.int64'>
Belgian <class 'numpy.int64'>
Vietnamese <class 'numpy.int64'>
Soups <class 'numpy.int64'>
Central Asian <class 'numpy.int64'>
Gluten Free Options <class 'numpy.int64'>
Turkish <class 'numpy.int64'>
Norwegian <class 'numpy.int64'>
Italian <class 'numpy.int64'>
Pub <class 'numpy.int64'>
Moroccan <class 'numpy.int64'>
Yunnan <class 'numpy.int64'>
Middle Eastern <class 'numpy.int64'>
Delicatessen <class 'numpy.int64'>
Polynesian <class 'numpy.int64'>
Asian <class 'numpy.int64'>
Peruvian <class 'numpy.int64'>
Ukrainian <class 'numpy.int64'>
Chilean <class 'numpy.int64'>
Brew Pub <class 'numpy.int64'>
Sushi <class 'numpy.int64'>
Ecuadorean <class 'numpy.int64'>
Egyptian <class 'numpy.int64'>
African <class 'numpy.int64'>
Street Food <class 'numpy.int64'>
German <class 'numpy.int64'>
Contemporary <class 'numpy.int64'>
Polish <class 'numpy.int64'>
Dutch <class 'numpy.int64'>
Mediterranean <class 'numpy.int64'>
Gastropub <class 'numpy.int64'>
Czech <class 'numpy.int64'>
Fast Food <class 'numpy.int64'>
South American <class 'numpy.int64'>
Romanian <class 'numpy.int64'>
Kosher <class 'numpy.int64'>
New Zealand <class 'numpy.int64'>
Welsh <class 'numpy.int64'>
Korean <class 'numpy.int64'>
Diner <class 'numpy.int64'>
Croatian <class 'numpy.int64'>
Mexican <class 'numpy.int64'>
Israeli <class 'numpy.int64'>
Albanian <class 'numpy.int64'>
Brazilian <class 'numpy.int64'>
Persian <class 'numpy.int64'>
Tibetan <class 'numpy.int64'>
Malaysian <class 'numpy.int64'>
Indonesian <class 'numpy.int64'>
Cambodian <class 'numpy.int64'>
Grill <class 'numpy.int64'>
European <class 'numpy.int64'>
American <class 'numpy.int64'>
Caucasian <class 'numpy.int64'>
Cuban <class 'numpy.int64'>
Argentinean <class 'numpy.int64'>
Arabic <class 'numpy.int64'>
Latvian <class 'numpy.int64'>
Taiwanese <class 'numpy.int64'>
Cafe <class 'numpy.int64'>
Bangladeshi <class 'numpy.int64'>
Colombian <class 'numpy.int64'>
Hawaiian <class 'numpy.int64'>
Eastern European <class 'numpy.int64'>
Swedish <class 'numpy.int64'>
Southwestern <class 'numpy.int64'>
Singaporean <class 'numpy.int64'>
Scandinavian <class 'numpy.int64'>
Ethiopian <class 'numpy.int64'>
International <class 'numpy.int64'>
Russian <class 'numpy.int64'>
Austrian <class 'numpy.int64'>
Slovenian <class 'numpy.int64'>
Filipino <class 'numpy.int64'>
Seafood <class 'numpy.int64'>
Native American <class 'numpy.int64'>
Fusion <class 'numpy.int64'>
Vegetarian Friendly <class 'numpy.int64'>
Central European <class 'numpy.int64'>
Halal <class 'numpy.int64'>
Latin <class 'numpy.int64'>
Pizza <class 'numpy.int64'>
Healthy <class 'numpy.int64'>
Steakhouse <class 'numpy.int64'>
Minority Chinese <class 'numpy.int64'>
Vegan Options <class 'numpy.int64'>
Swiss <class 'numpy.int64'>
Thai <class 'numpy.int64'>
Nepali <class 'numpy.int64'>
Spanish <class 'numpy.int64'>
Georgian <class 'numpy.int64'>
Canadian <class 'numpy.int64'>
British <class 'numpy.int64'>
French <class 'numpy.int64'>
Pakistani <class 'numpy.int64'>
Uzbek <class 'numpy.int64'>
Hungarian <class 'numpy.int64'>
Tunisian <class 'numpy.int64'>
Barbecue <class 'numpy.int64'>
Scottish <class 'numpy.int64'>
Central American <class 'numpy.int64'>
Balti <class 'numpy.int64'>
Afghani <class 'numpy.int64'>
Greek <class 'numpy.int64'>
Sri Lankan <class 'numpy.int64'>
Wine Bar <class 'numpy.int64'>
Japanese <class 'numpy.int64'>
Cajun & Creole <class 'numpy.int64'>
Chinese <class 'numpy.int64'>
Australian <class 'numpy.int64'>
Mongolian <class 'numpy.int64'>
Burmese <class 'numpy.int64'>
Indian <class 'numpy.int64'>
Caribbean <class 'numpy.int64'>
Salvadoran <class 'numpy.int64'>
Fujian <class 'numpy.int64'>
Bar <class 'numpy.int64'>
Lebanese <class 'numpy.int64'>
Irish <class 'numpy.int64'>
Danish <class 'numpy.int64'>
Portuguese <class 'numpy.int64'>
Xinjiang <class 'numpy.int64'>
Jamaican <class 'numpy.int64'>
Azerbaijani <class 'numpy.int64'>
date_r <class 'numpy.float64'>
Count_Rev <class 'numpy.float64'>
Amsterdam <class 'numpy.uint8'>
Athens <class 'numpy.uint8'>
Barcelona <class 'numpy.uint8'>
Berlin <class 'numpy.uint8'>
Bratislava <class 'numpy.uint8'>
Brussels <class 'numpy.uint8'>
Budapest <class 'numpy.uint8'>
Copenhagen <class 'numpy.uint8'>
Dublin <class 'numpy.uint8'>
Edinburgh <class 'numpy.uint8'>
Geneva <class 'numpy.uint8'>
Hamburg <class 'numpy.uint8'>
Helsinki <class 'numpy.uint8'>
Krakow <class 'numpy.uint8'>
Lisbon <class 'numpy.uint8'>
Ljubljana <class 'numpy.uint8'>
London <class 'numpy.uint8'>
Luxembourg <class 'numpy.uint8'>
Lyon <class 'numpy.uint8'>
Madrid <class 'numpy.uint8'>
Milan <class 'numpy.uint8'>
Munich <class 'numpy.uint8'>
Oporto <class 'numpy.uint8'>
Oslo <class 'numpy.uint8'>
Paris <class 'numpy.uint8'>
Prague <class 'numpy.uint8'>
Rome <class 'numpy.uint8'>
Stockholm <class 'numpy.uint8'>
Vienna <class 'numpy.uint8'>
Warsaw <class 'numpy.uint8'>
Zurich <class 'numpy.uint8'>